body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

#appContainer {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: #111827;
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.sidebar button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    background: #1f2937;
    color: white;
    cursor: pointer;
}

/* MAIN */
.main-content {
    flex: 1;
    padding: 20px;
}

/* VIEWS */
.view {
    display: none;
}

/* CARDS */
.job-card, .applicant-card, .stat-card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

/* STATS */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* CHAT */
.messages-layout {
    display: flex;
    gap: 10px;
}

.chat-panel {
    flex: 1;
    background: white;
    padding: 10px;
}
